header {
    width: 1096px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 224px;
}

header > img {
    width: 50px;
    height: 48px;
    margin-top: 42px;
}

header > div {
    width: 514px;
    height: inherit;
}

div#search > input {
    outline: none;
    width: inherit;
    height: 16px;
    border: none;
    margin-top: 27px;
    margin-bottom: 27px;
    background: url("img/search.png") left center no-repeat;
    background-size: 16px;
    padding-left: 20px;
    font: normal 16px "PFDinTextCompPro Regular";
}

.line{
    width: inherit;
    border-bottom: 1px solid #dadada;
}

#notification_and_account {
    position: relative;
    text-align: right;
}

.for_user {
    width: 16px;
    height: auto;
    margin-left: 40px;
    margin-top: 27px;
    margin-bottom: 25px;
}

#alarm {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fe4900;
    right: 55px;
    top: 27px;
}

#parameters {
    outline: 1px solid royalblue;
    width: 500px;
    height: 50px;
}