nav {
    width: 175px;
    height: 100%;
    background: #2f3032;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;

    opacity: .5;
}

nav > a:first-child {
    margin-top: 35px;
    margin-bottom: 40px;
}

nav > a {
    display: block;
    width: 175px;
    height: 38px;
    color: #efefef;
    text-transform: uppercase;
    font: normal 14px/38px "PFDinTextCompPro Regular";
    border-left: 3px solid #2f3032;
    box-sizing: border-box;
}

nav > a:hover {
    background: #252628;
    border-left: 3px solid #d9be8f;
    box-sizing: border-box;
}

nav > a:hover:first-child {
    border-left: 3px solid #2f3032;
    box-sizing: border-box;
    background: #2f3032;
}

nav > footer {
    width: 175px;
    margin-top: 280px;
}

nav > footer > span {
    font: normal 14px "PFDinTextCompPro Regular";
    text-transform: uppercase;
}

nav > footer > span:first-child {
    color: #737373;
    margin-right: 10px;
}

nav > footer > span:nth-child(2) {
    color: #efefef;
}

nav > footer > span:hover{
    cursor: pointer;
}

div#social_networks {
    width: 90px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-evenly;
}

div#social_networks img {
    display: inline;
    width: 10px;
    height: 10px;
}