* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#parent {
    width: 300px;
    height: 300px;
    border: 1px solid #393939;
    position: relative;
}

.color {
    position: absolute;
    background: red;
    top: 20px;
    right: 30px;
    bottom: 40px;
    left: 50px;
}