* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*Практика на выравнивание по осям в CSS*/

#parent {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid royalblue;
}

.child1 {
    background: crimson;
    font: bold 20px/50px Arial;
    color: #fff;
    text-align: center;
    border: 1px solid limegreen;
    box-sizing: border-box;
}

.size1 {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.size2 {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.size3 {
    width: 60px;
    height: 60px;
    line-height: 60px;
}