@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h2 {
    text-align: center;
    font: bold 50px "Poppins";
    margin-bottom: 50px;
}

div#grid_images {
    width: 1170px;
    margin: 0 auto;
}

img {
    border-radius: 5px;
}

img[src="img/others/milk.jpg"]{
    float: left;
    margin-right: 20px;
}

img[src="img/others/gamepad_1.jpg"], img[src="img/others/clock.jpg"] {
    margin-bottom: 20px;
}

img[src="img/others/gamepad_1.jpg"],  img[src="img/others/gamepad_2.jpg"]{
    margin-right: 20px;
}