@font-face {
    font-family: "PFDinTextCompPro Regular";
    src: url("fonts/pfdintextpro-regular.ttf");
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 1271px;
}