#grid {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: 50px auto;
}

#grid > div {
    width: calc(96% / 4);
    height: 75px;
    box-sizing: border-box;
    border: 1px solid crimson;
    font: bold 30px/75px sans-serif;
    text-align: center;
}