@font-face {
    font-family: 'Neutraface Text Regular';
    src: url("../fonts/Neutraface Text Demi.otf");
    font-style: normal;
}

body {
    background: url("../img/bg.jpg") top center no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1357px;
    height: 760px;
    background: url("../img/header_bg.jpg") center no-repeat;
}

div#top_line {
    width: inherit;
    height: 28px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a[href="index.html"] {
    display: flex;
    flex-direction: row;
    color: #000;
    font: normal 35px/28px 'Neutraface Text Regular', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

span.line {
    display: block;
    width: 28px;
    height: 5px;
    background: #df8b8e;
    margin-top: 15px;
}

span#logo {
    margin: 0 10px;
}

div#top_line > nav {
    width: 438px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#top_line > nav > a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font: normal 25px 'Neutraface Text Regular', sans-serif;
}

div#top_line > nav > a:hover {
    text-decoration: underline;
}